torch
packaging
numpy==1.24.2
datasets
tokenizers
transformers
wandb==0.14.0
deepspeed
trl
sentencepiece
flask
flask-cors
icetk
cpm-kernels
evaluate
scikit-learn
dill
bitsandbytes
pydantic
gradio
accelerate
einops
lm-eval
ipdb
wheel