packaging
numpy==1.24.2
datasets==2.14.6
tokenizers==0.19.1
torch==2.3.1
wandb==0.14.0
deepspeed==0.10.0
trl==0.9.6
sentencepiece
transformers==4.43.3
flask
flask-cors
icetk
cpm-kernels==1.0.11
evaluate==0.4.0
scikit-learn==1.2.2
dill==0.3.4
bitsandbytes==0.43.1
pydantic==1.10.9
gradio
accelerate==0.32.1
einops==0.8.0
lm-eval==0.4.2
ipdb